syntax: glob
.bash_history
__conn_settings__.py
*.log
*.log.*
*.pyc
*__pycache__/
quotes
main.sh
.viminfo
.selected_editor
.ssh/
.vim/
config.ini
.idea/
modules/quotes.db
tags
test.py
Test.py
tests.py
birthdays.json
